body{
    background-color: lightskyblue;
}
#opener {
    text-align: center;
    width: 800px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

#opener button{
    width: 100px;
    height: 25px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px #000000
}

#opener h1{
    font-size: 45pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-shadow: 2px 4px rgb(104, 90, 44);
}

.main{
    text-align: center;
    width: 700px;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
}

#question{
    float: left;
    border: 2px solid black;
    border-radius: 5px;
    width: 300px;
    height: 250px;
}

#question h2{
    margin: 75px 10px 10px 10px;
}

#answers{
    float: right;
    width: 350px;
    height: 250px;
    border: 2px solid black;
    border-radius: 5px;
}

#progress ul li{
    float: left;
    padding: 10px;
}

#progress{
    border: 2px solid black;
    border-radius: 5px;
}

#nav{
    clear: both;
    padding: 10px;
    /*border: 2px solid gray;*/
    width: 900px;
    height: 50px;
}

#nav button, h4{
    display: block;
    border-radius: 5px;
    margin-left: 5px;
    float: left;
    width: 100px;
    border-radius: 5px;
    height: 50px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(104, 74, 74, 0.911);
}

li button{
    float: left;
    color: black;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
}

li button:hover {
    background-color: yellow;
}

#selection{
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 40%
    
}

#selection h3{
    margin-right: 20%;
}

#selection button{
    float: left;
    margin-left: 20%;
}

#multi, #multAns, #trueOrFalse, #fillBlank, #shortAnswer{
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 40%;
    width: auto;
    height: auto;
}

#multiChoice h2 input{
    float: left;
    margin-left: 100px;
    margin-right: 10px;
}

#testingDiv input{
    float: left;
}

#blankAnswer{
    margin: 30% 25%;
}

#deleteQuestion, #updateQuestion{
    margin-top: 20%;
    margin-left: 10%;
}

#finalResults{
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}